<!--● novo curso: formulário de Cadastro para novos cursos.  
      ● nova disciplina:c
Obs.: Sigam as informações existentes no banco de dados para criar os
formulários de Cadastro.
Na tabela sql tem apenas esse campo
* nome do curso
-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Cadastro Curso
    </title>
    <link rel="stylesheet" href="../css/styleApp.css">
</head>
<body>
    <form class="pure-form pure-form-stacked" name="cadastro" method="post">
    <fieldset>
        <legend>Cadastro de Curso</legend>
    
        <label>Nome do Curso:</label>
        <input type="text" name="nomeCurso" maxlength="100" placeholder="Digite o nome do curso" required>
        <br/><br/>

        <br/><br/>
<div align="right">

        <input class="button-secondary" type="submit" value="Cadastrar">
    </div>
    
    </fieldset>
</form>
</body>
</html>