<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <title>Matricula</title>
</head>

<body>
    <h2>Matricula</h2>
    <h3>Curso: Análise e Desenvolvimento de Sistemas</h3>
    <h3>Disciplina: Tecnologias Web</h3>
    <h3>Semestre: 2° 2018</h3>
    <h3>Turma 2B Noite</h3>

    <form name="matricula" method="POST">
        <h4>TABELAS DE ALUNOS</h4>
        <table>
            <td>
				<form name="teste" method="post" target="_myframe">
     <table border="2" cellpadding="5" width="100%" bgcolor="#E8E8E8">
       <tbody>
         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value=""cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40" required="required">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" required="required" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	</tr>
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>	
	<tr>	
	         <tr>
           <td>
             <table border="0" width="100%">
               <tbody>
					<td align="right">Nome do Aluno: </td>
               <td>
                <input type="text" name="professor" size="40" maxlength="40">
                   </td>
                 </tr>
                 <tr>
                   <td align="right" >RA: </td>
               <td>
                <input type="text" name="ra" id="ra_aluno" size="11" maxlength="11" >
				<input type="radio" name="aprovado" value="Aprovado" > Aprovado
				<input type="radio" name="reprova" value="cancelado" > Cancelado
                   </td>
                 </tr>
                 <tr>
                 </tr>
                   </td>
                 </tr>
               </table>
             </td>				 
	    <table border=0 width=100%>
	        <tr valign=top>
	          <td>
                   </td>
                 </tr>
               </tbody>
             </table>
           </td>
         </tr>
		 </tbody>
       </table>

          <p>
       <input type="submit" value="Enviar">
       <input type="reset" value="Limpar Dados">
     </p>
    </form>
  </center>
            </td>
        </table>
    </form>
</body>
</html>