<! DOCTYPE HTML>
<meta charset='utf-8'>
<html>
	<head>
	<title>FIT - Faculdade Impacta</title>
	<link rel="stylesheet" href="../css/styleApp.css">
	</head>
	<body>
		<p><h1>Fundamentos de Banco de Dados </h1></p> 
	<td><img src='../imagens/ads.png'width='100%' ></td>
	<ul><h1>Disciplina Fundamentos de Banco de Dados</h1>
		<li><a href='#competencia'>Competências</a></li>
		<li><a href='#habilidade'>Habilidades</li></a>
		<li><a href='#disciplina'>Disciplinas Relacionadas</a></li>
		<li><a href='#conteudo'>Conteúdo programático</a></li>
		<li><a href='#metodologia'>Metodologia</a></li>
		<li><a href='#bibliografia'>Bibliografia básica</li></a>
		<li><a href='#bibliografiab'>Bibliografia básica</li></a>
		<li><a href='#criterio'>Critério de avaliação</a></li>
	</ul><br/>
	<section id='objetivo'>
	<ul><h1>Competências</h1>
        <li><a>Criar uma base sólida em Fundamentos de Banco de Dados.</a></li>
		<li><a>Representar soluções de problemas utilizando Modelos e Diagramas de Banco de Dados.</li></a>
		<li><a>Organizar dados e informação em estruturas de Banco de Dados.</a></li>
	</ul><br/><br/>
	<section id='habilidade'>
	<ul><h1>Habilidades</h1>
        <li><a>Introduzir os Fundamentos de Banco de Dados.</a></li>
		<li><a>Conhecer e dominar a modelagem de dados.</li></a>
		<li><a>Conhecer as operações relacionais que devem ser realizadas por qualquer Banco de Dados.</a></li>
		<li><a>Desenvolver a técnica de normalização de um modelo.</li></a>
		<li><a>Saber projetar um Banco de Dados desde o início.</li></a>
	</ul><br/><br/>
	<section id='disciplina'>
	<ul><h1>Disciplinas Relacionadas</h1>
        <li><a>Disciplina anterior: Não há</a></li>
		<li><a>Disciplina paralela: Não há</li></a>
		<li><a>Disciplina posterior: Linguagem SQL, Tecnologia Web, Engenharia de Software, OPE1, OPE2.</a></li>
	</ul><br/><br/>
		<section id='conteudo'>
		<ul><h1>Conteúdo programático</h1>
        <li>Introdução</li>
		<br><a>1.1.	Histórico e Evolução dos Bancos de Dados
		<br><a>1.2.	Modelos de Bancos de Dados existentes
		<br><a>1.3.	Sistema Gerenciador de Banco de Dados
		<br><a>1.4.	Sistema de Banco de Dados
		<br><a>1.5.	Níveis de Visão
		<br><a>1.6.	Independência de Dados
		<br><a>1.7.	Esquema e Instâncias
        <li><a>2.	Modelagem Conceitual</a></li>
		<br><a>2.1.	Características dos Modelos em Geral
		<br><a>2.2.	Características dos Modelos Conceituais
        <li><a>3.	Modelo Entidade-Relacionamento</a></li>
		<br><a>3.1.	Conjunto de Entidades
		<br><a>3.2.	Representação de Atributos
		<br><a>3.3.	Conjunto de Relacionamentos
		<br><a>3.4.	Chaves
		<br><a>3.5.	Cardinalidade e Grau de Relacionamentos
		<br><a>3.6.	Papel de Relacionamentos
		<br><a>3.7.	Autorrelacionamento
		<br><a>3.8.	Modelo Entidade Relacionamento Estendido
		<br><a>&nbsp;&nbsp;3.8.1.	Multiplicidade
		<br><a>&nbsp;&nbsp;3.8.2.	Abstração de Generalização
		<br><a>&nbsp;&nbsp;3.8.3.	Abstração de Agregação
		<br><a>&nbsp;&nbsp;3.8.4.	Modelo de Dados Semânticos
		<br><a>&nbsp;&nbsp;3.8.5.	Abstrações no Projeto Conceitual de Banco de Dados
		<li><a>4.	Modelo Relacional</a></li>
		<br><a>4.1.	Esquemas de Banco de Dados Relacional
		<br><a>4.2.	Restrições de Integridade
		<br><a>&nbsp;&nbsp;4.2.1.	Restrição de Unicidade de Chave
		<br><a>&nbsp;&nbsp;4.2.2.	Restrição de Integridade da Entidade
		<br><a>&nbsp;&nbsp;4.2.3.	Restrição de Integridade Referencial
		<li><a>5.	Normalização</a></li>
		<br><a>5.1.	Axiomas de Dependência Funcional
		<br><a>5.2.	Formas Normais
		<br><a>&nbsp;&nbsp;5.2.1.	Primeira Forma Normal
		<br><a>&nbsp;&nbsp;5.2.2.	Segunda Forma Normal
		<br><a>&nbsp;&nbsp;5.2.3.	Terceira Forma Normal
		<br><a>&nbsp;&nbsp;5.2.4.	BCNF
		<br><a>&nbsp;&nbsp;5.2.5.   4 FN e 5 FN (discussão)		
	</ul><br/><br/>
	<section id='metodologia'>
	<ul><h1>Metodologia</h1>
        <li>Aulas expositivas de teoria utilizando projetor e lousa eletrônica.</li>
		<li><a>Aulas práticas de laboratório para aplicar os conceitos vistos em curso.</li></a>
		<li><a>Discussões sobre tecnologias, técnica e ferramentas.</a></li>
		<li><a>Atividades contínuas (AC) para acompanhamento do processo ensino aprendizagem.</li></a>
	</ul><br/><br/>	
		<section id='criterio'>
            <h2>Critérios de avaliação</h2>
            <p>Critérios de Avaliação
			Nota Final = 60% MAC + 40% Prova<br>
			ou<br>
			Nota Final = [50% MAC + 30% Prova + 20% MPAI] + (Bônus PAI Livro)<br>
			(Nota Final ³ 6,0 e Frequência ³ 75%) Aprovado<br>
			Em que:<br>
			· MAC (Média de Atividades Contínuas):<br>
			o Média das 07 melhores médias de cada AC semanal em um total de 10 ACs.<br>
			· Prova = Avaliação Semestral<br>
			· MPAI = Média das provas do PAI para Disciplinas Incidentes do PAI<br>
			O aluno tem direito a uma Prova Substitutiva, com todo o conteúdo do semestre letivo, para substituir a
			Prova Semestral. A Prova Substitutiva somente será utilizada se for maior que a Prova.<br>
			</p><br/>
		<section id='bibliografia'>
            <h2>Bibliografia Básica</h2>
            <p>ELMASRI, R. E.; NAVATHE, S. B. Sistemas de Banco de Dados. São Paulo: Ed. Pearson, 2006.
SILBERCHATZ, A.; KORTH, H. F. Sistemas de Banco de Dados. 5.ed. Rio de Janeiro: Ed. Campus, 2006.
TEOREY, T. J.; LIGHSTONE, S.; NADEAU, T. Projeto e Modelagem de Banco de Dados. 1.ed. Rio de Janeiro: Campus. 2006.
</p><br/>
		<section id='bibliografiab'>
            <h2>Bibliografia Complementar</h2>
            <p>CORONEL, C.; MORRIS, S. Database Systems: design, implementation and management. 11a.ed. São Paulo: Cengage do Brasil, 2014.
DATE, C. J. Introdução a Sistemas de Banco de Dados. 8. ed. Rio de Janeiro: Elsevier, 2004.
DATE, C. J.; FERNANDES, A. Projeto de Banco de Dados e Teoria Relacional. 1. ed. São Paulo: Novatec, 2015.
GUIMARAES, C. C. Fundamentos de Banco de Dados: modelagem, projeto e linguagem SQL. 1. ed. Campinas: Editora da Unicamp, 2003.
PRATT, P.; LAST, M. Concepts of Database Management. 8o. Ed. Boston: Cengage, 2014.
</p><br/>
			_________________________________________________________________________</u>
			<div align='center'><br/><strong>11 3254-8300 - Impacta 2018 - Todos os direitos reservados. </strong>
			</p></div>
	</body> 
</html>