<!--● novo curso: formulário de Cadastro para novos cursos.  
      ● nova disciplina:c
Obs.: Sigam as informações existentes no banco de dados para criar os
formulários de Cadastro.
Na tabela sql tem apenas esse campo
* nome do curso
-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulário de Cadastro de Disciplina
    </title>
    <link rel="stylesheet" href="../css/styleApp.css">
</head>
<body>
    <fieldset>
        <legend>Cadastro de Disciplina</legend>
    <form name="cadastro" method="post">
        <label>Nome da Disciplina:</label>
        <input type="text" name="nomeDisciplina" maxlength="100" placeholder="Digite o nome da disciplina" required>

        <br/><br/>

        

   
        <br/><br/>

        <div align="right">
        <input class="button-secondary" type="submit" value="Cadastrar"/>
    </div>
    </form>
    </fieldset>
</body>
</html>
