<html >
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
 <link rel="stylesheet" href="../css/styleApp.css">
 </head>
 <body>
	<section id='nossoscursos'>
        <h1>Conheça nossos cursos</h1>
        <p>
			Considerada uma das melhores faculdades com foco em tecnologia do País, a Faculdade Impacta oferece 
cursos de <em> Graduação , Pós-Graduação e MBA</em> e cursos técnicos. Conheça quais são as áreas de
conhecimento que a Impacta aborda e saiba um pouco mais sobre cada curso:<br/>
	<br/><table width="100%">
	<tr>
	<td><img src='../imagens/graduacao.jpg'width='100%'></td>
	<td><img src='../imagens/mba.jpg'width='100%'></td>
	<td><img src='../imagens/tecnico.jpg'width='100%'></td>
	<td><img src='../imagens/up.jpg'width='100%'></td>
	</tr>
	<table border='1'  width='100%' cellspacing='0' cellpadding='10'>
	<tr><br/>
		<th align='center'><strong>Curso</strong></th>
		<th align='center'><strong>Nível</strong></th>
		<th align='center'><strong>Semestres</strong></th>
	</tr>
	<tr>
		<td align='center'><a href = 'CursoADS.html'>Análise e Desenvolvimento de Sistemas</a></td>
		<td align='center'>Tecnólogo</td>
		<td align='center'>4</td>
	</tr>
	<tr>
			<td align='center'>Sistemas de Informação</td>
			<td align='center'>Bacharelado</td>
			<td align='center'>8</td>
		</tr>
		<tr>
		<td align='center'>Banco de Dados</td>
		<td align='center'>Tecnólogo</td>
		<td align='center'>4</td>
	</tr>
	<tr>
		<td align='center'>Informática Industrial</td>
		<td align='center'>Técnico</td>
		<td align='center'>3</td>
	</tr>
</table>
			</p><br/>

	</body> 
</html>
